In [47]:
# Import Libraries
from bs4 import BeautifulSoup
import requests
import pandas as pd
import smtplib
import time
import datetime
import csv

In [45]:
# Connect to website
url = 'https://www.amazon.com/Funny-Data-Systems-Business-Analyst/dp/B07FNW9FGJ/ref=sr_1_3?dchild=1&keywords=data%2Banalyst%2Btshirt&qid=1626655184&sr=8-3&customId=B0752XJYNL&th=1'

headers = {"User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/119.0.0.0 Safari/537.36", "Accept-Encoding": "gzip, deflate", "Accept": "text/html,application/xhtml+xml,application/xml;q=0.9, */*;q=0.8", "DNT":"1","Connection":"close", "Upgrade-Insecure-Requests":"1"}

page = requests.get(url, headers=headers)

soup1 = BeautifulSoup(page.content, 'html.parser')

soup2 = BeautifulSoup(soup1.prettify(), 'html.parser')

title = soup2.find(id='productTitle').get_text()

price = soup2.find( class_="aok-offscreen").get_text()

print(title)
print(price)

                   Funny Got Data MIS Data Systems Business Analyst T-Shirt


                   $16.99

In [46]:
price = price.strip()[1:]

title = title.strip()
print(title)
print(price)

Funny Got Data MIS Data Systems Business Analyst T-Shirt
16.99

In [60]:
today = datetime.date.today()

print(today)

2023-12-01

In [61]:
#Create CSV file
header = ['Title', 'Price', 'Date']
data = [title, price, today]
type(data)

with open('AmazonWebScraper.csv', 'w', newline='', encoding='UTF8') as f:
    writer = csv.writer(f)
    writer.writerow(header)
    writer.writerow(data)

In [63]:
df = pd.read_csv(r'AmazonWebScraper.csv')
df

                                               Title  Price        Date
0  Funny Got Data MIS Data Systems Business Analy...  16.99  2023-12-01

In [64]:
# appending dat to the csv

with open('AmazonWebScraper.csv', 'a+', newline='', encoding='UTF8') as f:

    writer = csv.writer(f)

    writer.writerow(data)

In [69]:
# appending dat to the csv
def check_price():
    url = 'https://www.amazon.com/Funny-Data-Systems-Business-Analyst/dp/B07FNW9FGJ/ref=sr_1_3?dchild=1&keywords=data%2Banalyst%2Btshirt&qid=1626655184&sr=8-3&customId=B0752XJYNL&th=1'

    headers = {"User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/119.0.0.0 Safari/537.36", "Accept-Encoding": "gzip, deflate", "Accept": "text/html,application/xhtml+xml,application/xml;q=0.9, */*;q=0.8", "DNT":"1","Connection":"close", "Upgrade-Insecure-Requests":"1"}

    page = requests.get(url, headers=headers)

    soup1 = BeautifulSoup(page.content, 'html.parser')

    soup2 = BeautifulSoup(soup1.prettify(), 'html.parser')

    title = soup2.find(id='productTitle').get_text()

    price = soup2.find( class_="aok-offscreen").get_text()

    price = price.strip()[1:]

    title = title.strip()

    today = datetime.date.today()

    header = ['Title', 'Price', 'Date']
    data = [title, price, today]

    with open('AmazonWebScraperDataset.csv', 'a+', newline='', encoding='UTF8') as f:
        writer = csv.writer(f)
        writer.writerow(data)

In [67]:
while(True):
    check_price()
    time.sleep(5)

In [68]:
df = pd.read_csv(r'AmazonWebScraper.csv')
df

                                               Title  Price        Date
0  Funny Got Data MIS Data Systems Business Analy...  16.99  2023-12-01
1  Funny Got Data MIS Data Systems Business Analy...  16.99  2023-12-01

In [ ]:
# If uou want to try sending yourself an email (just for fun) when a price hits below a certain level you can try it
# out with this script

def send_mail():
    server = smtplib.SMTP_SSL('smtp.gmail.com',465)
    server.ehlo()
    #server.starttls()
    server.ehlo()
    server.login('kithinjivictor69@gmail.com','xxxxxxxxxxxxxx')
    
    subject = "The Shirt you want is below $15! Now is your chance to buy!"
    body = "Alex, This is the moment we have been waiting for. Now is your chance to pick up the shirt of your dreams. Don't mess it up! Link here: https://www.amazon.com/Funny-Data-Systems-Business-Analyst/dp/B07FNW9FGJ/ref=sr_1_3?dchild=1&keywords=data+analyst+tshirt&qid=1626655184&sr=8-3"
   
    msg = f"Subject: {subject}\n\n{body}"
    
    server.sendmail(
        'kithinjivictor69@gmail.com',
        msg
     
    )